name: Java CI with Maven and MySQL

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    services:
      mysql:
        image: mysql:8.0
        env:
          MYSQL_ROOT_PASSWORD: tiger
          MYSQL_DATABASE: torbesa
        ports:
          # volver 3306:3306
          - 3307:3306
        options: >-
          --health-cmd="mysqladmin ping --silent"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5
    steps:
      - uses: actions/checkout@v3
      - name: Wait for MySQL
        run: |
          for i in {1..30}; do
            if mysqladmin ping -h 127.0.0.1 -uroot -ptiger --silent; then
              break
            fi
            sleep 2
          done
      - name: Import database
        run: |
          mysql -h 127.0.0.1 -uroot -ptiger torbesa < database.sql
      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: "21"
          distribution: "temurin"
      - name: Build with Maven
        run: mvn -B install --file pom.xml
      - name: Run tests
        run: mvn test
